.sidebar {
    background-color: black;
    color: lightgray;
    width: 100%;
    height: 100vh;
    position: relative;
}

.sidebar-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
}
.sidebar-content{
    position: absolute;
    top: 16vh;
    left: 0;
    width: 100%;
    overflow-y: auto;
    height: 70%;
}

.sidebar .active {
    border-left: 3px solid white;
    background-color: rgb(56, 56, 56);
    color: rgb(248, 248, 248);;
}
.sidebar .active:hover {
    background-color: rgb(56, 56, 56);
}

.sidebar-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 5px;
}
.my-nav-link {
    cursor: pointer;
    color: #969696;
}
.my-nav-link:hover {
    background-color: rgb(14, 14, 14);
    color: rgb(248, 248, 248);
}